.footer {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 50px 0;
}

.footer__copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: rgba(113, 113, 113, 0.7);
}
